html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  color: #161c2d;
}
p{
  padding-left: 10px;
}

ul, li {
  list-style: none;
}

.section-title {
  text-align: center;
}

.society {
  color: #161E54;
  padding: 2% 0;
}
.breadcrumbs{
    background-color: none;
    text-align: center;
}
.breadcrumb {
    letter-spacing: 0.5px;
    padding: 8px 24px;
    display: block;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0, 0.1);
}
.breadcrumb .breadcrumb-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding-left: 0;
    display: inline-block;
}
.breadcrumb .breadcrumb-item a {
    color: #3c4858;
}
.breadcrumb .breadcrumb-item a:hover {
    color: #2f55d4;
}
.breadcrumb .breadcrumb-item.active {
    color: #2f55d4;
}
.breadcrumb .breadcrumb-item:before {
    content: '';
}
.breadcrumb .breadcrumb-item:after {
    content: '\F0142';
    font-size: 14px;
    color: #3c4858;
    font-family: 'Material Design Icons';
    padding-left: 5px;
}
.breadcrumb .breadcrumb-item:last-child:after {
    display: none;
}



#top{
  padding: 1px 10px;
}

.affinity_img{
  padding-bottom: 2%;
}


h1 {
  text-align: center;
  font-family: 'Merriweather';
  font-weight: bold;
  color: #082032;
  padding: 60px 5%;
}

h1:after {
  content: '';
  background: black;
  display: block;
  height: 3px;
  width: 70%;
  margin: 10px auto;
}

section {
  padding: 5px 0;
  position: relative;
}

.about_ca {
  padding: 0 15%;
}

.about_ca .content .btn-learn-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #2C2891;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #2C2891;
}

.about_ca .content .btn-learn-more:hover {
  background: #2C2891;
  color: #fff;
  text-decoration: none;
}

.profile1 {
  display: inline-block;
}

.society {
  text-align: center;
  display: inline-block;
}

.btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 6px;
}
.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-primary {
  background-color: #2f55d4 !important;
  border: 1px solid #2f55d4 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus {
  background-color: #2443ac !important;
  border-color: #2443ac !important;
  color: #ffffff !important;
}
.btn-soft-primary {
  background-color: rgba(47, 85, 212, 0.2) !important;
  border: 1px solid rgba(47, 85, 212, 0.2) !important;
  color: #2f55d4 !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}
.btn.btn-icon {
  height: 36px;
  width: 36px;
  line-height: 34px;
  padding: 0;
}
